<h1>Listing groupe_parents</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupe_parents.each do |groupe_parent| %>
  <tr>
    <td><%= groupe_parent.name %></td>
    <td><%= link_to 'Show', groupe_parent %></td>
    <td><%= link_to 'Edit', edit_groupe_parent_path(groupe_parent) %></td>
    <td><%= link_to 'Destroy', groupe_parent, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groupe parent', new_groupe_parent_path %>
